// Define variables for your color scheme

// Color Schema Collectiverse:
$black: #1e1e20;
$orange: #ea6c01;
$yellow: #F8DA2F;
$creme:#f1e3d7;
$light-gray: #f1f1f1;
$white: #ffffff;

// Color Schema Marietta:
$black: #1e1e20;
$dark-pink: #f57de5;
$purple: #c6a1ef;
$rose: #f5caee;
$light-gray: #f1f1f1;
$white: #ffffff;
