<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <h1>Testing 123</h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
    <h2>All Lists</h2>
  </div>
  </div>
</div>
