// Specific CSS for your home-page
.full-page {
  height: calc(100vh - 200px);
}
.logo-logo {
  height: 250px;
  width: 250px;
  object-fit:scale-down;
  border-radius: 5px;
  justify-content: center;
}

//#about {
  //.logo
//}
