<div class="footer">
  <p class="footer-text">© Collectiverse 2023. All rights reserved.</p>
    <%= link_to "About Collectivers", pages_about_path, class:"btn btn-sm btn-outline-secondary py-2 px-4" %>
  <p class="footer-text"> This footer is made with ♡ </p>
</div>
