<div class="navbar">
  <div class="container">
    <%= link_to "COLLECTIVERSE", root_path, class: "text-dark" %>

    <div>
      <%= link_to "Shopping Cart", new_toy_path, class: "btn btn-outline-secondary" %>
      <%= link_to "Notification", new_toy_path, class: "btn btn-outline-secondary" %>
      <%= link_to "Profile", new_toy_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
