<div class="container">
  <div class="about-section">
    <h1 class="text-center">About Collectiverse</h1>
    <p class="text-center">We are 4 toy collectors who also love web development</p>
  </div>

  <h2 style="text-align:center">Our beautiful Team 🌸 </h2>
  <div class="row mb-5">
    <div class="column col-md-6 d-inline">
      <div class="card">
        <img src="" alt="Marietta" style="width:100%"> //picture Marietta here
        <div class="container">
          <h2>Marietta</h2>
          <p class="title">Front End 🌻</p>
          <p>Some text that describes me</p>
          <p>mariettaxcvb@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column col-md-6 d-inline">
      <div class="card">
        <img src="" alt="Nick" style="width:100%"> //picture Nick here
        <div class="container">
          <h2>Nick Witteveen</h2>
          <p class="title">Front End 🌻</p>
          <p>Some text that describes Nick</p>
          <p>nickwitteveen@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column col-md-6 d-inline">
      <div class="card">
        <img src="" alt="Kenny" style="width:100%"> //picture Kenny here
        <div class="container">
          <h2>Kenny Devin</h2>
          <p class="title">Back End 💻</p>
          <p>Some text that describes Kenny.</p>
          <p>kennydevin@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column col-md-6 d-inline">
      <div class="card">
        <img src="" alt="Jim" style="width:100%"> //picture Jim here
        <div class="container">
          <h2>Jim Witsenboer</h2>
          <p class="title">Back End 💻</p>
          <p>Some text that describes Jim</p>
          <p>jimwitsenboer@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
