<div class="container mt-1 mb-1 full-page" id="about">
  <div class="about-section mb-1 mt-1">
    <h1 class="text-center">About Collectiverse</h1>
    <p class="text-center">We are 4 toy collectors who also love web development</p>
  </div>

  <h2 style="text-align:center">Our beautiful Team 🌸 </h2>
  <div class="row mb-5 mt-3">
    <div class="column col-md-3 d-inline">
      <div class="card">

      <%= image_tag "marietta.png", class:"logo-logo"%>

        <div class="container text-center">
          <h2>Marietta</h2>
          <p class="title">Front End 🌻</p>
          <p>Some text that describes me</p>
          <p>mariettaxcv@gmail.com</p>
          <a class="btn btn-sm btn-outline-secondary py-2 px-4" href="mailto:mariettaxcv@gmail.com">Contact</button></a>
        </div>
      </div>
    </div>

    <div class="column col-md-3 d-inline">
      <div class="card">

        <%= image_tag "nick.png", class:"logo-logo"%>

        <div class="container text-center">
          <h2>Nick</h2>
          <p class="title">Front End 🌻</p>
          <p>Some text that describes Nick</p>
          <p>nickwitteveenxcv@gmail.com</p>
          <a class="btn btn-sm btn-outline-secondary py-2 px-4" href="mailto:nickwitteveenxcv@gmail.com">Contact</button></a>
        </div>
      </div>
    </div>

    <div class="column col-md-3 d-inline">
      <div class="card">
        <%= image_tag "kenny.png", class:"logo-logo"%>
        <div class="container text-center">
          <h2>Kenny</h2>
          <p class="title">Back End 💻</p>
          <p>Some text that describes Kenny</p>
          <p>kennydevinxcv@gmail.com</p>
          <a class="btn btn-sm btn-outline-secondary py-2 px-4" href="mailto:kennydevinxcv@gmail.com">Contact</button></a>
        </div>
      </div>
    </div>

    <div class="column col-md-3 d-inline">
      <div class="card">
        <%= image_tag "jim.png", class:"logo-logo"%>
        <div class="container text-center">
          <h2>Jim</h2>
          <p class="title">Back End 💻</p>
          <p>Some text that describes Jim</p>
          <p>jimwitsenboerxcv@gmail.com</p>
          <a class="btn btn-sm btn-outline-secondary py-2 px-4" href="mailto:jimwitsenboerxcv@gmail.com">Contact</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
