<div class="container mt-5">
  <div class="about-section mb-3">
    <h1 class="text-center">About Collectiverse</h1>
    <p class="text-center">We are 4 toy collectors who also love web development</p>
  </div>

  <h2 style="text-align:center">Our beautiful Team 🌸 </h2>
  <div class="row mb-5 mt-3">
    <div class="column col-md-3 d-inline">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1638898407927-79801f46960b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="Marietta" style="width:100%">
        <div class="container">
          <h2>Marietta Jecht</h2>
          <p class="title">Front End 🌻</p>
          <p>Some text that describes me</p>
          <p>mariettaxcvb@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column col-md-3 d-inline">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1474213949748-ecae1db76cbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="Nick" style="width:100%">
        <div class="container">
          <h2>Nick Witteveen</h2>
          <p class="title">Front End 🌻</p>
          <p>Some text that describes Nick</p>
          <p>nickwitteveen@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column col-md-3 d-inline">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1530595467537-0b5996c41f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="Kenny" style="width:100%">
        <div class="container">
          <h2>Kenny Devin</h2>
          <p class="title">Back End 💻</p>
          <p>Some text that describes Kenny.</p>
          <p>kennydevin@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column col-md-3 d-inline">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="Jim" style="width:100%">
        <div class="container">
          <h2>Jim Witsenboer</h2>
          <p class="title">Back End 💻</p>
          <p>Some text that describes Jim</p>
          <p>jimwitsenboer@gmail.com</p>
          <p><button class="btn btn-sm btn-outline-secondary py-2 px-4">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
