<div class="d-flex mt-5 mb-5 rounded" id="set-margin">
  <div class="main-div m-0 p-0" style="background-color: $light-gray" >

  <div class="banner">
    <div class="contact-section">
      <h1 class="text-center">Contact Collectiverse</h1>
      <p class="text-center">If you have a request please fill out the contact form </p>
      <p class="text-center"> Please keep in mind, that we need our time to answer</p>
    </div>
      <h2 style="text-align:center">We are happy to help you ⭐️</h2>



  <div class="div-content">
    <form>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="Please tip your first name" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Please tip your last name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Please tip your email" required>
      </div>
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" placeholder="Please tip your subject" required>
      </div>
      <button type="submit" class="btn btn-sm btn-outline-secondary py-2 px-4">SEND</button>
    </form>
  </div>
</div>
</div>
