.button-primary {
  color: #ffffff;
  border-width: 0px;
  border-color: rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #962715; //replace with var
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  text-decoration: none;
}

.button-secondary {
  color: #282828;
  border-width: 0px;
  border-color: rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff; //replace with var
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  text-decoration: none;
}
