.button-primary {
  color: $white;
  border-width: 0px;
  border-color: rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: $orange; //replace with var
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  text-decoration: none;
}

.button-secondary {
  color: $black;
  border-width: 0px;
  border-color: rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color:$yellow; //replace with var
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  text-decoration: none;
}
