a {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-height {
  min-height: 350px;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.card-content {
  color: black;
}

.toy-name {
  overflow: hidden;
  margin-bottom: 0;
}

.toy-desc {
  height: 120px;
  overflow: hidden;
  margin-bottom: 8px;
}

.toy-price {
  display: flex;
  height: 30px;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  margin-bottom: 12px;
}

.toy-price span{
  margin-top: 5px;
  font-weight: 500;
  margin-left: 5px;
  font-size: 16px;
}

.toy-seller {
  height: 24px;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 8px;
}

.toy-seller span{
  margin-left: 5px;
  font-size: 18 px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .toy-name {
    height: 60px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .toy-name {
    height: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .toy-name {
    height: 65px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .toy-name {
    height: 65px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .toy-name {
    height: 70px;
  }
}
