a {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-height {
  min-height: 350px;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.card-content {
  color: black;
}

.toy-name {
  overflow: hidden;
  margin-bottom: 0;
}

.toy-desc {
  height: 120px;
  overflow: hidden;
  margin-bottom: 8px;
}

.toy-price {
  height: 30px;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  margin-bottom: 8px;
}

.toy-seller {
  height: 24px;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .toy-name {
    height: 60px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .toy-name {
    height: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .toy-name {
    height: 65px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .toy-name {
    height: 65px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .toy-name {
    height: 70px;
  }
}

// probably need card content dont change below

// .card__content {
//   color: white;
//   text-align: center;
//   overflow: hidden;
// }

// .card__content__text {
//   background-color: rgb(25,25,25);
//   height: 200px;
//   width: 400px;
//   z-index: 7;
//   margin-top: 0;
//   overflow: hidden;
// }

// .card__content__text h4 {
//   margin: 0;
//   padding: 25px;
//   font-family: 'Wix Madefor Display', sans-serif;
//   font-size: 35px;
//   letter-spacing: 3px;
//   z-index: 7;
// }

// .card__content__text p {
//   margin: 0 auto;
//   font-family: 'Work Sans', sans-serif;
//   width: 300px;
//   font-size: 20px;
//   letter-spacing: 2px;
// }

// .card__content:hover img,
// .card__content:focus img {
//   transform: scale(1.05);
//   -webkit-transition-duration: 500ms;
//   transition-duration: 500ms;
// }

// .card__content:hover,
// .card__content:focus {
//   -webkit-transition-duration: 500ms;
//   transition-duration: 500ms;
//   box-shadow: 0 0 8px rgb(170,93,29);
// }
