.index-banner {
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-text{
  color: white;
  font-size: 144px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 10px;
  margin: 0;
}

.button-banner-index{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  font-family: 'Geologica', sans-serif;
}

.button-container{
  width: 460px;
  display: flex;
  justify-content: space-between;
}

.button-banner-index{
  width: 185px;
  height: 65px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner-text{
    font-size: 66px;
  }
  .button-container{
    width: 382px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner-text{
    font-size: 72px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner-text{
    font-size: 88px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-text{
    font-size: 104px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner-text{
    font-size: 120px;
  }
}
