// le Wagon styling so change!

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  color: $orange;
}

.mapboxgl-marker > svg > path {
  fill:$orange;
}

.mapboxgl-marker > svg > path:hover {
  fill:$yellow;
}
.container-map {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
