.navbar-main {
  justify-content: space-between;
  background: $yellow ;
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 85px;
  width: 100%;
  z-index: 100;
  align-items: center;
}

.navbar-main .navbar-collapse {
 flex-grow: 0;
}

.navbar-main .navbar-brand img {
 width: 65px;
}

.logo {
  float: center;
  color: $black;
  font-weight: bold;
}

.logo-text {
  font-size: 48px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 4px;
}

.left-side-navbar {
  display: flex;
  align-items: center;
}

.right-side-navbar {
  display: flex;
  align-items: center;
}

.search-icon{
  position: relative;
  float: right;
  top: 26px;
  right: 14px;
  color: #CCC;
}
