<nav class="navbar navbar-light bg-light px-3">
  <%= link_to "COLLECTIVERSE", root_path, class: "text-dark" %>

  <form class="form-inline">
    <%= link_to "Shopping Cart", new_toy_path, class: "btn btn-outline-primary" %>
    <%= link_to "Notification", new_toy_path, class: "btn btn-outline-primary" %>
    <%= link_to "Profile", new_toy_path, class: "btn btn-outline-primary" %>
  </form>
</nav>
